@import "checkbox.css";
@import "reset.css";
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  width: 100%;
}
.header-language__select {
  border: 1px solid lightgray;
  width: 95px;
  height: 30px;
  position: absolute;
  right: 380px;
  top: 15px;
  font-size: 12px;
}
select:hover {
  font-size: 12px;
}
.header-title__img {
  width: 260px;
  height: 110px;
}
.header-title {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 35px;
}
.login {
  display: flex;
  border: 1px solid gainsboro;
  border-radius: 7px;
  width: 550px;
  height: 360px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.login-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-main__id {
  width: 500px;
  height: 60px;
  border: 1px solid gainsboro;
  border-radius: 7px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: silver;
}
input[type="reset"] {
  font-family: FontAwesome;
  background-color: white;
  color: silver;
}

input,
input:hover,
input:focus {
  outline: none;
  border: none;
}
.input-content {
  width: 380px;
  height: 20px;
  font-size: 20px;
}

.login-main__password {
  width: 500px;
  height: 60px;
  border: 1px solid gainsboro;
  border-radius: 7px;
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: silver;
}
.reset {
  background-color: white;
}
.login-ways {
  display: flex;
  width: 550px;
  height: 65px;
  position: relative;
}
.login-ways :first-child {
  width: 185px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 7px;
}
.login-ways :nth-child(2) {
  width: 185px;
  height: 65px;
  border: 1px solid gainsboro;
  border-bottom-left-radius: 7px;
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-ways :nth-child(3) {
  width: 185px;
  height: 65px;
  display: flex;
  border: 1px solid gainsboro;
  border-left: none;
  border-top: none;
  border-right: none;
  justify-content: space-between;
  align-items: center;
}

a:link,
a:visited,
a:hover {
  text-decoration-line: none;
  font-size: 20px;
}
.login-ways__chosen-icon {
  color: limegreen;
}
a > i {
  position: absolute;
  margin-left: 30px;
}
.login__ways__title {
  color: black;
  margin-left: 10px;
  font-weight: 400;
}
.not-chosen-icon {
  color: #979da2;
}
.not-chosen {
  background-color: ghostwhite;
}
.login-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}
.login-bar__maintain {
  display: flex;
  justify-content: center;
}
.login-bar__maintain-button {
  background-color: white;
  border: none;
}
.login-bar__maintain-form :hover,
.login-bar__maintain-form :active,
.login-bar__maintain-form :focus {
  color: limegreen;
}

.login-bar__span {
  color: gray;
}

.login-submit__input {
  width: 500px;
  height: 60px;
  margin-bottom: 26px;
  background-color: #03c75b;

  border: 1px solid #07bc56;
  border-radius: 5px;
}
.login-submit__span {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: white;
}
.sub-bar {
  width: 550px;
  height: 25px;
  display: flex;
  justify-content: center;
  color: gray;
  margin-top: 25px;
  margin-bottom: 40px;


}
.bar__bar {
  margin-left: 15px;
  color: gainsboro;
}
.bar__name {
  margin-left: 15px;
  color: gray;
}
.ppl {
  border: 1px solid gainsboro;
  border-radius: 7px;
}
.ppl > img {
  width: 550px;
  height: 180px;
  object-fit: contain;
}
.footer {
  width: 550px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 80px;
}
.information {
  display: flex;
  justify-content: center;
  width: 550px;
  height: 30px;
  color: gray;
}
.information > img {
  width: 70px;
  height: 30px;
}
.information__naver {
  color: black;
}
.information__span {
  margin-top: 5px;
}
